<nav class="format-desktop">
    <figure>
        <img src="../../../assets/svg/hotel-overlook-logo.svg" alt="">
    </figure>


    <ul>
        <li><a routerLink="/">Forside</a></li>
        <li>|</li>
        <li><a routerLink="/hotels">Hoteller og destinationer</a></li>
        <li>|</li>
        <li><a routerLink="/rooms">Værelser</a></li>
        <li>|</li>
        <li><a routerLink="/reservations">Reservationer</a></li>
        <li>|</li>
        <li><a routerLink="/login">Login</a></li>
    </ul>
</nav>

<!-- <nav>
    <a class="btn btn-link" routerLink="/about">About</a> |
    <a class="button" routerLink="/hotels">Hotels</a>
</nav> -->

<!-- <nav>
    <ul class="format-mobile">
        <li><a routerLink="/">Forside</a></li>
        <li><a routerLink="#">Hoteller og destinationer</a></li>
        <li><a routerLink="#">Værelser</a></li>
        <li><a routerLink="#">Reservationer</a></li>
        <li><a routerLink="#">Login</a></li>
    </ul>
</nav> -->