.countries{
    text-align: center;
    padding: 1em;
    border-bottom: solid #d1d1d1 1px;



    a{
        padding: 1em;
        cursor: pointer;
    }
}

.countries-sub{
    border-bottom: dashed #d1d1d1 1px;
    margin-bottom: 1em;
}


.cities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;


    img{
      width: 100%;
      height: 200px;

      object-fit: cover;
  }

  p {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }


}
